<html>
    <head>
        <title>Flight Launch Admin</title>
        <script type="text/javascript">
<%
    def load_javascript(path)
        abs_path = File.join(File.dirname(__FILE__), "#{path}.js")
        File.read(abs_path)
    end
%>

<%= load_javascript('flight-launch-admin') %>

        </script>
<style>
h4 {
    margin-bottom: 5px;
}
</style>
    </head>
    <body>
        <div id="generator">

            <div style="margin-bottom: 1em">
                Create a new tenant
                <input id="createToken" type="button" value="Start creating" onclick="startCreating();" />
            </div>

            <div style="margin-bottom: 1em">
                &mdash; Or &mdash;
            </div>

            <div style="margin-bottom: 1em">
                Select tenant to edit
            </div>
            <div style="margin-bottom: 1em">
                <div style="margin-left: 1em" id="tenantsList"></div>
            </div>
            <div style="margin-bottom: 1em">
                <input id="createToken" type="button" value="Start editing" onclick="startEditing();" />
            </div>

            <div style="clear: both"></div>

            <div style="margin-bottom: 1em"></div>
            <div id="infoMessages"></div>
            <div style="margin-bottom: 1em"></div>
            <pre id="errorMessages" style="color: red"></pre>
            <div style="margin-bottom: 1em"></div>

            <div id="editForm" style="border-top: 1px solid black; display: none">
                <h2>Edit tenant</h2>
                <form onSubmit="event.preventDefault(); updateTenant()">

                    <div style="margin-bottom: 1em">
                        <label>
                            <h4>Name:</h4>
                            <div><input id="tenantName" size="64"></div>
                        </label>
                        <div style="color: #737373">
                            Used in the generation of default values for
                            Nav bar entry and header.
                        </div>
                    </div>

                    <div style="margin-bottom: 1em">
                        <label for="tenantNaventry">
                            <h4>Nav bar entry (optional):</h4>
                        </label>
                        <label>
                            Use default value (in conjunction with &ltNAME>)
                            <input id="tenantNaventryUseDefault" type="checkbox" onChange="toggleDisabled('tenantNaventry')">
                        </label>
                        <div style="margin-top: 5px"><input id="tenantNaventry" size="128"></div>
                        <div style="color: #737373">
                            The entry in the nav bar.  Defaults to "in
                            conjunction with &lt;NAME>".
                        </div>
                    </div>

                    <div style="margin-bottom: 1em">
                        <label for="tenantHeader">
                            <h4>Header (optional):</h4>
                        </label>
                        <label>
                            Use default value (in conjunction with &ltNAME>)
                            <input id="tenantHeaderUseDefault" type="checkbox" onChange="toggleDisabled('tenantHeader')">
                        </label>
                        <div style="margin-top: 5px"><input id="tenantHeader" size="128"></div>
                        <div style="color: #737373">
                            The entry in the header bars.  Defaults to "in
                            conjunction with &lt;NAME>".
                        </div>
                    </div>

                    <div style="margin-bottom: 1em">
                        <label for="tenantEmailHeader">
                            <h4>Email header (optional):</h4>
                        </label>
                        <label>
                            Use default value (for &ltNAME>)
                            <input id="tenantEmailHeaderUseDefault" type="checkbox" onChange="toggleDisabled('tenantEmailHeader')">
                        </label>
                        <div style="margin-top: 5px"><input id="tenantEmailHeader" size="128"></div>
                        <div style="color: #737373">
                            Used in the first line of emails sent for the
                            tenant.  Defaults to "for &lt;NAME>".  E.g.,
                            "Welcome on board the Alces Flight Launch service
                            for The University of Big V."
                        </div>
                    </div>

                    <div style="margin-bottom: 1em">
                        <label>
                            <h4>Logo URL (optional):</h4>
                            <div><input id="tenantLogoUrl" size="128"></div>
                        </label>
                        <div style="color: #737373">
                            The URL containing the tenant's logo.
                        </div>
                    </div>

                    <div style="margin-bottom: 1em">
                        <label for="tenantRemainingCredits">
                            <h4>Remaining credits (optional):</h4>
                        </label>
                        <label>
                            Limit token creation for this tenant?
                            <input id="tenantHasCreditLimit" type="checkbox" onChange="toggleDisabled('tenantRemainingCredits')">
                        </label>
                        <div style="margin-top: 5px">
                            <input id="tenantRemainingCredits" size="32">
                        </div>
                        <div style="color: #737373">
                            The number of credits the tenant has remaining.
                            If this is not enabled, an unlimited number of
                            tokens can be created for the tenant.
                        </div>
                        <div style="color: #737373">
                            To remove all credits for this tenant, set the
                            remaining credits to 0.
                            </p>
                        </div>
                    </div>

                    <div style="margin-bottom: 1em">
                        <label for="tenantMaxTokenCreditLimit">
                            <h4>Max credits for a token (optional):</h4>
                        </label>
                        <label>
                            Limit the maximum credits that can be assigned to a token?
                            <input id="tenantHasMaxTokenCreditLimit" type="checkbox" onChange="toggleDisabled('tenantMaxTokenCreditLimit')">
                        </label>
                        <div style="margin-top: 5px">
                            <input id="tenantMaxTokenCreditLimit" size="32">
                        </div>
                        <div style="color: #737373">
                            The maximum number of credits that can be assigned
                            to a token for this tenant.  If this is not
                            enabled, an unlimited number of credits can be
                            assigned to a token.
                        </div>
                    </div>

                    <input type="submit" value="Update">
                </form>
            </div>

            <div id="createForm" style="border-top: 1px solid black; display: none">
                <h2>Create tenant</h2>
                <form onSubmit="event.preventDefault(); createTenant()">

                    <div style="margin-bottom: 1em">
                        <label>
                            <h4>Identifier:</h4>
                            <div><input id="newTenantIdentifier" size="64"></div>
                        </label>
                        <div style="color: #737373">
                            The name used in the URL for the tenant, e.g.,
                            https://launch.alces-flight.com/&lt;IDENTIFIER>
                        </div>
                    </div>

                    <div style="margin-bottom: 1em">
                        <label>
                            <h4>Name:</h4>
                            <div><input id="newTenantName" size="64"></div>
                        </label>
                        <div style="color: #737373">
                            Used in the generation of default values for
                            Nav bar entry and header.
                        </div>
                    </div>

                    <div style="margin-bottom: 1em">
                        <label for="newTenantNaventry">
                            <h4>Nav bar entry (optional):</h4>
                        </label>
                        <label>
                            Use default value (in conjunction with &ltNAME>)
                            <input id="newTenantNaventryUseDefault" type="checkbox" onChange="toggleDisabled('newTenantNaventry')">
                        </label>
                        <div style="margin-top: 5px"><input id="newTenantNaventry" size="128"></div>
                        <div style="color: #737373">
                            The entry in the nav bar.  Defaults to "in
                            conjunction with &lt;NAME>".
                        </div>
                    </div>

                    <div style="margin-bottom: 1em">
                        <label for="newTenantHeader">
                            <h4>Header (optional):</h4>
                        </label>
                        <label>
                            Use default value (in conjunction with &ltNAME>)
                            <input id="newTenantHeaderUseDefault" type="checkbox" onChange="toggleDisabled('newTenantHeader')">
                        </label>
                        <div style="margin-top: 5px"><input id="newTenantHeader" size="128"></div>
                        <div style="color: #737373">
                            The entry in the header bars.  Defaults to "in
                            conjunction with &lt;NAME>".
                        </div>
                    </div>

                    <div style="margin-bottom: 1em">
                        <label>
                            <h4>Email header (optional):</h4>
                        </label>
                        <label>
                            Use default value (for &ltNAME>)
                            <input id="newTenantEmailHeaderUseDefault" type="checkbox" onChange="toggleDisabled('newTenantEmailHeader')">
                        </label>
                        <div style="margin-top: 5px"><input id="newTenantEmailHeader" size="128"></div>
                        <div style="color: #737373">
                            Used in the first line of emails sent for the
                            tenant.  Defaults to "for &lt;NAME>".  E.g.,
                            "Welcome on board the Alces Flight Launch service
                            for The University of Big V."
                        </div>
                    </div>
                    <div style="margin-bottom: 1em">
                        <label>
                            <h4>Logo URL (optional):</h4>
                            <div><input id="newTenantLogoUrl" size="128"></div>
                        </label>
                        <div style="color: #737373">
                            The URL containing the tenant's logo.
                        </div>
                    </div>

                    <div style="margin-bottom: 1em">
                        <label for="newTenantRemainingCredits">
                            <h4>Remaining credits (optional):</h4>
                        </label>
                        <label>
                            Limit token creation for this tenant?
                            <input id="newTenantHasCreditLimit" type="checkbox" onChange="toggleDisabled('newTenantRemainingCredits')">
                        </label>
                        <div style="margin-top: 5px">
                            <input id="newTenantRemainingCredits" size="32">
                        </div>
                        <div style="color: #737373">
                            The number of credits the tenant has remaining.
                            If this is not enabled, an unlimited number of
                            tokens can be created for the tenant.
                        </div>
                        <div style="color: #737373">
                            To create a tenant without allocating any credits,
                            set the remaining credits to 0.
                            </p>
                        </div>
                    </div>

                    <div style="margin-bottom: 1em">
                        <label for="newTenantMaxTokenCreditLimit">
                            <h4>Max credits for a token (optional):</h4>
                        </label>
                        <label>
                            Limit the maximum credits that can be assigned to a token?
                            <input id="newTenantHasMaxTokenCreditLimit" type="checkbox" onChange="toggleDisabled('newTenantMaxTokenCreditLimit')">
                        </label>
                        <div style="margin-top: 5px">
                            <input id="newTenantMaxTokenCreditLimit" size="32">
                        </div>
                        <div style="color: #737373">
                            The maximum number of credits that can be assigned
                            to a token for this tenant.  If this is not
                            enabled, an unlimited number of credits can be
                            assigned to a token.
                        </div>
                    </div>

                    <input type="submit" value="Create">
                </form>
            </div>
        </div>
    </body>
</html>
