<%#
  Copyright (C) 2018 Stephen F. Norledge and Alces Software Ltd.

  This file is part of Alces Launch.

  All rights reserved, see LICENSE.txt.
%>

<p>
Your Alces Flight Compute HPC cluster <code><%= @cluster_name %></code> has
been terminated.
</p>

<% note do %>
    <p class="notes">
    You are receiving this email because you have started an Alces Flight
    Compute HPC cluster with the Alces Flight Launch service.
    </p>
<% end %>

<%= render 'shared/contact_us' %>

<p>The Alces Flight Crew.</p>
