Launching Flight Compute Solo cluster 'bens-bio-cluster' (eu-west-1)...

DELETE_IN_PROGRESS PubNetAclRejectOutboundVPC (fligh-PubNe-187Z3VVH0CBUQ)
DELETE_IN_PROGRESS PubRouteAssoc (rtbassoc-86f507e0)
DELETE_COMPLETE PrvNetAclRejectInboundVPC (fligh-PrvNe-1PNDKVWRCLI48)
DELETE_COMPLETE PubNetAclRejectInboundVPC (fligh-PubNe-1JJB491M5F5VJ)
DELETE_IN_PROGRESS PubRouteTable (rtb-2c00a84b)
DELETE_IN_PROGRESS PubNetAcl (acl-acba6ccb)
DELETE_COMPLETE PubNetAcl (acl-acba6ccb)
DELETE_IN_PROGRESS PrvSubnet (subnet-7d87950b)
DELETE_COMPLETE PrvSubnet (subnet-7d87950b)
DELETE_COMPLETE FlightMaster (i-063a9a6103926978a)
DELETE_COMPLETE MasterSG (sg-2e956857)
DELETE_IN_PROGRESS MasterIAMRole (flight-cluster-bens-bio-cluster-MasterIAMRole-1IKEI5JCDAUN)
DELETE_COMPLETE PubSubnet (subnet-8f8694f9)
DELETE_IN_PROGRESS PubNetAclAssoc (aclassoc-c94473b1)
DELETE_IN_PROGRESS PrvNetAclAssoc (aclassoc-9e4473e6)
DELETE_IN_PROGRESS PubNetAclRejectInboundVPC (fligh-PubNe-1JJB491M5F5VJ)
DELETE_IN_PROGRESS FlightComputeGroup (flight-cluster-bens-bio-cluster-FlightComputeGroup-1LN76R7SFEVLL)
DELETE_IN_PROGRESS ComputeAutoscalingPolicy (fligh-Comp-1AK7EU06FOD85)
DELETE_COMPLETE MasterAutoscalingPolicy (fligh-Mast-BXWV8UGM9J2X)
DELETE_COMPLETE PrvNetAclAllowOutboundAny (fligh-PrvNe-82X2U2Z75JSA)
DELETE_COMPLETE PubNetAclAllowInboundAny (fligh-PubNe-1907WOJNIKPBS)
DELETE_COMPLETE PubNetAclAllowInboundPrv (fligh-PubNe-HDJF1051CF0P)
DELETE_COMPLETE PrvNetAclAllowInboundAny (fligh-PrvNe-1X0AZS2L6XO5E)
DELETE_IN_PROGRESS flight-cluster-bens-bio-cluster (arn:aws:cloudformation:eu-west-1:700366075446:stack/flight-cluster-bens-bio-cluster/38665b10-08be-11e7-93d2-50a6863366c5)
DELETE_IN_PROGRESS PrvRoute (fligh-PrvRo-11P2TI4ZNKZUQ)
DELETE_IN_PROGRESS PubNetInternetRoute (fligh-PubNe-1X5DLGHR69BMO)
DELETE_IN_PROGRESS PubNetAclAllowOutboundAny (fligh-PubNe-SYI6QZ7R0094)
DELETE_IN_PROGRESS MasterAutoscalingPolicy (fligh-Mast-BXWV8UGM9J2X)
DELETE_IN_PROGRESS PrvNetAclRejectInboundVPC (fligh-PrvNe-1PNDKVWRCLI48)
DELETE_IN_PROGRESS PrvNetAclAllowInboundAny (fligh-PrvNe-1X0AZS2L6XO5E)
DELETE_IN_PROGRESS PrvRouteAssoc (rtbassoc-93f507f5)
DELETE_COMPLETE MasterBucketPolicy (fligh-Mast-Q2T88M75NCIK)
DELETE_COMPLETE PrvRoute (fligh-PrvRo-11P2TI4ZNKZUQ)
DELETE_COMPLETE PubNetAclAllowOutboundAny (fligh-PubNe-SYI6QZ7R0094)
DELETE_COMPLETE DHCPOptions (dopt-de5fc1ba)
DELETE_IN_PROGRESS PrvRouteTable (rtb-2d00a84a)
DELETE_IN_PROGRESS PlacementGroup (flight-cluster-bens-bio-cluster-PlacementGroup-DFWAM5D9I6TE)
DELETE_IN_PROGRESS ComputeSG (sg-2f956856)
DELETE_COMPLETE ComputeIAMProfile (flight-cluster-bens-bio-cluster-ComputeIAMProfile-INOO7BCSU6JZ)
DELETE_IN_PROGRESS ComputeIAMRole (flight-cluster-bens-bio-cluster-ComputeIAMRole-JQ4YXIQ81WXD)
DELETE_IN_PROGRESS PubSubnet (subnet-8f8694f9)
DELETE_IN_PROGRESS FlightVPC (vpc-bee2e8da)
DELETE_IN_PROGRESS DHCPOptionsAssoc (fligh-DHCPO-1MIUIBEEYIMKQ)
DELETE_IN_PROGRESS PrvNetAclAllowOutboundPub (fligh-PrvNe-DIXWYPY6INIO)
DELETE_IN_PROGRESS ComputeBucketPolicy (fligh-Comp-1IM05OQQT8D6)
DELETE_IN_PROGRESS PrvNetAclAllowOutboundAny (fligh-PrvNe-82X2U2Z75JSA)
DELETE_IN_PROGRESS ReadyCondition (arn:aws:cloudformation:eu-west-1:700366075446:stack/flight-cluster-bens-bio-cluster/38665b10-08be-11e7-93d2-50a6863366c5/ReadyHandle)
DELETE_IN_PROGRESS PubNetAclAllowInboundPrv (fligh-PubNe-HDJF1051CF0P)
DELETE_COMPLETE ComputeAutoscalingPolicy (fligh-Comp-1AK7EU06FOD85)
DELETE_COMPLETE PubRouteAssoc (rtbassoc-86f507e0)
DELETE_COMPLETE PrvNetAclRejectOutboundVPC (fligh-PrvNe-W66YUBXLM0AV)
DELETE_COMPLETE PubNetAclAssoc (aclassoc-c94473b1)
DELETE_COMPLETE PrvNetAclAllowInboundPub (fligh-PrvNe-14ZVVNO6RL4QR)
DELETE_COMPLETE PubRouteTable (rtb-2c00a84b)
DELETE_COMPLETE ComputeGroupConfig (flight-cluster-bens-bio-cluster-ComputeGroupConfig-NLXIH163EJWP)
DELETE_IN_PROGRESS FlightMaster (i-063a9a6103926978a)
DELETE_IN_PROGRESS ReadyHandle (https://cloudformation-waitcondition-eu-west-1.s3-eu-west-1.amazonaws.com/arn%3Aaws%3Acloudformation%3Aeu-west-1%3A700366075446%3Astack/flight-cluster-bens-bio-cluster/38665b10-08be-11e7-93d2-50a6863366c5/ReadyHandle?AWSAccessKeyId=AKIAJRBFOG6RPGASDWGA&Expires=1489588492&Signature=kpwVaYUSylt4VYl%2BReguM6cRT7o%3D)
DELETE_IN_PROGRESS PubNetAclAllowOutboundPrv (fligh-PubNe-1XZGCO6GLLEK8)
DELETE_IN_PROGRESS PrvNetAclAllowInboundPub (fligh-PrvNe-14ZVVNO6RL4QR)
DELETE_COMPLETE DHCPOptionsAssoc (fligh-DHCPO-1MIUIBEEYIMKQ)
DELETE_COMPLETE ReadyCondition (arn:aws:cloudformation:eu-west-1:700366075446:stack/flight-cluster-bens-bio-cluster/38665b10-08be-11e7-93d2-50a6863366c5/ReadyHandle)
DELETE_COMPLETE PrvRouteAssoc (rtbassoc-93f507f5)
DELETE_COMPLETE PubNetAclAllowOutboundPrv (fligh-PubNe-1XZGCO6GLLEK8)
DELETE_COMPLETE PrvNetAclAllowOutboundPub (fligh-PrvNe-DIXWYPY6INIO)
DELETE_COMPLETE PrvNetAcl (acl-aaba6ccd)
DELETE_IN_PROGRESS ComputeIAMProfile (flight-cluster-bens-bio-cluster-ComputeIAMProfile-INOO7BCSU6JZ)
DELETE_COMPLETE PlacementGroup (flight-cluster-bens-bio-cluster-PlacementGroup-DFWAM5D9I6TE)
DELETE_IN_PROGRESS GatewayAssoc (fligh-Gatew-FTHM23445BLR)
DELETE_IN_PROGRESS MasterIAMProfile (flight-cluster-bens-bio-cluster-MasterIAMProfile-1E1ECZKS2WSOC)
DELETE_COMPLETE MasterIAMProfile (flight-cluster-bens-bio-cluster-MasterIAMProfile-1E1ECZKS2WSOC)
DELETE_COMPLETE MasterIAMRole (flight-cluster-bens-bio-cluster-MasterIAMRole-1IKEI5JCDAUN)
DELETE_COMPLETE flight-cluster-bens-bio-cluster (arn:aws:cloudformation:eu-west-1:700366075446:stack/flight-cluster-bens-bio-cluster/38665b10-08be-11e7-93d2-50a6863366c5)
DELETE_COMPLETE PrvRouteTable (rtb-2d00a84a)
DELETE_COMPLETE ComputeIAMRole (flight-cluster-bens-bio-cluster-ComputeIAMRole-JQ4YXIQ81WXD)
DELETE_COMPLETE ReadyHandle (https://cloudformation-waitcondition-eu-west-1.s3-eu-west-1.amazonaws.com/arn%3Aaws%3Acloudformation%3Aeu-west-1%3A700366075446%3Astack/flight-cluster-bens-bio-cluster/38665b10-08be-11e7-93d2-50a6863366c5/ReadyHandle?AWSAccessKeyId=AKIAJRBFOG6RPGASDWGA&Expires=1489588492&Signature=kpwVaYUSylt4VYl%2BReguM6cRT7o%3D)
DELETE_IN_PROGRESS Gateway (igw-b974f1dd)
CREATE_IN_PROGRESS flight-cluster-bens-bio-cluster (arn:aws:cloudformation:eu-west-1:700366075446:stack/flight-cluster-bens-bio-cluster/13d9c820-0a5f-11e7-9a41-50a68645b2d2)
DELETE_IN_PROGRESS PubNetAclAllowInboundAny (fligh-PubNe-1907WOJNIKPBS)
DELETE_IN_PROGRESS MasterBucketPolicy (fligh-Mast-Q2T88M75NCIK)
DELETE_IN_PROGRESS PrvNetAclRejectOutboundVPC (fligh-PrvNe-W66YUBXLM0AV)
DELETE_COMPLETE ComputeBucketPolicy (fligh-Comp-1IM05OQQT8D6)
DELETE_IN_PROGRESS DHCPOptions (dopt-de5fc1ba)
DELETE_COMPLETE PubNetInternetRoute (fligh-PubNe-1X5DLGHR69BMO)
DELETE_COMPLETE PrvNetAclAssoc (aclassoc-9e4473e6)
DELETE_COMPLETE PubNetAclRejectOutboundVPC (fligh-PubNe-187Z3VVH0CBUQ)
DELETE_IN_PROGRESS PrvNetAcl (acl-aaba6ccd)
DELETE_COMPLETE FlightComputeGroup (flight-cluster-bens-bio-cluster-FlightComputeGroup-1LN76R7SFEVLL)
DELETE_IN_PROGRESS ComputeGroupConfig (flight-cluster-bens-bio-cluster-ComputeGroupConfig-NLXIH163EJWP)
DELETE_COMPLETE ComputeSG (sg-2f956856)
DELETE_IN_PROGRESS MasterSG (sg-2e956857)
DELETE_COMPLETE GatewayAssoc (fligh-Gatew-FTHM23445BLR)
DELETE_COMPLETE Gateway (igw-b974f1dd)
DELETE_COMPLETE FlightVPC (vpc-bee2e8da)
CREATE_IN_PROGRESS Gateway (igw-e1f07785)
CREATE_IN_PROGRESS ReadyHandle (https://cloudformation-waitcondition-eu-west-1.s3-eu-west-1.amazonaws.com/arn%3Aaws%3Acloudformation%3Aeu-west-1%3A700366075446%3Astack/flight-cluster-bens-bio-cluster/13d9c820-0a5f-11e7-9a41-50a68645b2d2/ReadyHandle?AWSAccessKeyId=AKIAJRBFOG6RPGASDWGA&Expires=1489765327&Signature=ZkRquvdVJaPibbBa0EyIxA7yKhw%3D)
CREATE_COMPLETE ReadyHandle (https://cloudformation-waitcondition-eu-west-1.s3-eu-west-1.amazonaws.com/arn%3Aaws%3Acloudformation%3Aeu-west-1%3A700366075446%3Astack/flight-cluster-bens-bio-cluster/13d9c820-0a5f-11e7-9a41-50a68645b2d2/ReadyHandle?AWSAccessKeyId=AKIAJRBFOG6RPGASDWGA&Expires=1489765327&Signature=ZkRquvdVJaPibbBa0EyIxA7yKhw%3D)
CREATE_IN_PROGRESS PlacementGroup (flight-cluster-bens-bio-cluster-PlacementGroup-1G2M7E5X50FQU)
CREATE_IN_PROGRESS MasterIAMRole (flight-cluster-bens-bio-cluster-MasterIAMRole-1VB21TLZ7BDDO)
CREATE_IN_PROGRESS DHCPOptions (dopt-3252ca56)
CREATE_IN_PROGRESS ComputeIAMRole (flight-cluster-bens-bio-cluster-ComputeIAMRole-QM5N4C360Q97)
CREATE_IN_PROGRESS FlightVPC (vpc-baddc9de)
CREATE_IN_PROGRESS ReadyCondition (arn:aws:cloudformation:eu-west-1:700366075446:stack/flight-cluster-bens-bio-cluster/13d9c820-0a5f-11e7-9a41-50a68645b2d2/ReadyHandle)
CREATE_COMPLETE ComputeIAMRole (flight-cluster-bens-bio-cluster-ComputeIAMRole-QM5N4C360Q97)
CREATE_COMPLETE MasterIAMRole (flight-cluster-bens-bio-cluster-MasterIAMRole-1VB21TLZ7BDDO)
CREATE_COMPLETE PlacementGroup (flight-cluster-bens-bio-cluster-PlacementGroup-1G2M7E5X50FQU)
CREATE_IN_PROGRESS ComputeIAMProfile (flight-cluster-bens-bio-cluster-ComputeIAMProfile-G9M7URREEBRE)
CREATE_IN_PROGRESS MasterAutoscalingPolicy (fligh-Mast-1ALYURF9O19YC)
CREATE_IN_PROGRESS ComputeAutoscalingPolicy (fligh-Comp-G5Z4FBLL6FIY)
CREATE_COMPLETE DHCPOptions (dopt-3252ca56)
CREATE_COMPLETE ComputeAutoscalingPolicy (fligh-Comp-G5Z4FBLL6FIY)
CREATE_IN_PROGRESS MasterBucketPolicy (fligh-Mast-IOF264TG2A79)
CREATE_COMPLETE Gateway (igw-e1f07785)
CREATE_COMPLETE MasterAutoscalingPolicy (fligh-Mast-1ALYURF9O19YC)
CREATE_COMPLETE ComputeBucketPolicy (fligh-Comp-1EMKZMYMAJQ2I)
CREATE_COMPLETE MasterBucketPolicy (fligh-Mast-IOF264TG2A79)
CREATE_COMPLETE FlightVPC (vpc-baddc9de)
CREATE_IN_PROGRESS MasterIAMProfile (flight-cluster-bens-bio-cluster-MasterIAMProfile-1SF0CTP5C66P4)
CREATE_IN_PROGRESS ComputeBucketPolicy (fligh-Comp-1EMKZMYMAJQ2I)
CREATE_IN_PROGRESS PubRouteTable (rtb-d4c471b3)
CREATE_IN_PROGRESS PrvRouteTable (rtb-d3c471b4)
CREATE_COMPLETE DHCPOptionsAssoc (fligh-DHCPO-1SGMLCKA354O8)
CREATE_COMPLETE PubNetAcl (acl-66d20201)
CREATE_IN_PROGRESS PubSubnet (subnet-a1461ef9)
CREATE_COMPLETE PrvNetAcl (acl-64d20203)
CREATE_COMPLETE PrvRouteTable (rtb-d3c471b4)
CREATE_IN_PROGRESS PrvNetAcl (acl-64d20203)
CREATE_IN_PROGRESS PubNetAcl (acl-66d20201)
CREATE_IN_PROGRESS GatewayAssoc (fligh-Gatew-1R9BOSANARH2Z)
CREATE_IN_PROGRESS DHCPOptionsAssoc (fligh-DHCPO-1SGMLCKA354O8)
CREATE_COMPLETE PubRouteTable (rtb-d4c471b3)
CREATE_IN_PROGRESS PubNetInternetRoute (fligh-PubNe-1XT46KVXOVGOM)
CREATE_IN_PROGRESS PrvNetAclRejectInboundVPC (fligh-PrvNe-B8DLEBC9GDDM)
CREATE_IN_PROGRESS PrvNetAclAllowInboundAny (fligh-PrvNe-19DGLWYVEB543)
CREATE_IN_PROGRESS PubNetAclRejectInboundVPC (fligh-PubNe-DW8KC0X5YWR9)
CREATE_IN_PROGRESS PubNetAclAllowOutboundAny (fligh-PubNe-1CWT0XEVC13FD)
CREATE_IN_PROGRESS PubNetAclRejectOutboundVPC (fligh-PubNe-1GWWTP2EQ984E)
CREATE_IN_PROGRESS PubNetAclAllowInboundAny (fligh-PubNe-1189IU4T7PPXI)
CREATE_IN_PROGRESS PrvNetAclAllowInboundPub (fligh-PrvNe-7EHX7JXH4DB9)
CREATE_IN_PROGRESS PubNetAclAllowOutboundPrv (fligh-PubNe-3LV4YRUA4H2N)
CREATE_IN_PROGRESS PrvNetAclRejectOutboundVPC (fligh-PrvNe-JSI6LF2OW37E)
CREATE_IN_PROGRESS PubNetAclAllowInboundPrv (fligh-PubNe-1GKZAFBQXXBC8)
CREATE_IN_PROGRESS PrvNetAclAllowOutboundAny (fligh-PrvNe-ZXNTRIJZ4AX1)
CREATE_IN_PROGRESS PrvNetAclAllowOutboundPub (fligh-PrvNe-16WZHXH12LERC)
CREATE_IN_PROGRESS ComputeSG (sg-781be201)
CREATE_COMPLETE GatewayAssoc (fligh-Gatew-1R9BOSANARH2Z)
CREATE_COMPLETE ComputeSG (sg-781be201)
CREATE_IN_PROGRESS MasterSG (sg-791be200)
CREATE_COMPLETE PubSubnet (subnet-a1461ef9)
CREATE_COMPLETE PubNetInternetRoute (fligh-PubNe-1XT46KVXOVGOM)
CREATE_COMPLETE PubNetAclAllowOutboundAny (fligh-PubNe-1CWT0XEVC13FD)
CREATE_COMPLETE PubNetAclAllowInboundAny (fligh-PubNe-1189IU4T7PPXI)
CREATE_COMPLETE PrvNetAclRejectInboundVPC (fligh-PrvNe-B8DLEBC9GDDM)
CREATE_COMPLETE PubNetAclRejectInboundVPC (fligh-PubNe-DW8KC0X5YWR9)
CREATE_COMPLETE PubNetAclRejectOutboundVPC (fligh-PubNe-1GWWTP2EQ984E)
CREATE_COMPLETE PrvNetAclAllowInboundAny (fligh-PrvNe-19DGLWYVEB543)
CREATE_COMPLETE PubNetAclAllowOutboundPrv (fligh-PubNe-3LV4YRUA4H2N)
CREATE_COMPLETE MasterSG (sg-791be200)
CREATE_COMPLETE PrvNetAclAllowInboundPub (fligh-PrvNe-7EHX7JXH4DB9)
CREATE_COMPLETE PrvNetAclAllowOutboundAny (fligh-PrvNe-ZXNTRIJZ4AX1)
CREATE_COMPLETE PrvNetAclRejectOutboundVPC (fligh-PrvNe-JSI6LF2OW37E)
CREATE_IN_PROGRESS PubRouteAssoc (rtbassoc-30ef1056)
CREATE_IN_PROGRESS PrvSubnet (subnet-49471f11)
CREATE_IN_PROGRESS PubNetAclAssoc (aclassoc-38fecc40)
CREATE_COMPLETE PubNetAclAllowInboundPrv (fligh-PubNe-1GKZAFBQXXBC8)
CREATE_COMPLETE PrvNetAclAllowOutboundPub (fligh-PrvNe-16WZHXH12LERC)
CREATE_COMPLETE PrvSubnet (subnet-49471f11)
CREATE_COMPLETE PubRouteAssoc (rtbassoc-30ef1056)
CREATE_IN_PROGRESS PrvNetAclAssoc (aclassoc-f2fecc8a)
CREATE_COMPLETE PubNetAclAssoc (aclassoc-38fecc40)
CREATE_IN_PROGRESS PrvRouteAssoc (rtbassoc-17ef1071)
CREATE_COMPLETE PrvRouteAssoc (rtbassoc-17ef1071)
CREATE_COMPLETE PrvNetAclAssoc (aclassoc-f2fecc8a)
DELETE_IN_PROGRESS PrvNetAclRejectOutboundVPC (fligh-PrvNe-JSI6LF2OW37E)
DELETE_IN_PROGRESS MasterBucketPolicy (fligh-Mast-IOF264TG2A79)
DELETE_IN_PROGRESS PrvNetAclAllowOutboundAny (fligh-PrvNe-ZXNTRIJZ4AX1)
DELETE_IN_PROGRESS PrvRouteAssoc (rtbassoc-17ef1071)
DELETE_IN_PROGRESS PubNetAclAllowOutboundPrv (fligh-PubNe-3LV4YRUA4H2N)
DELETE_IN_PROGRESS PubNetAclRejectInboundVPC (fligh-PubNe-DW8KC0X5YWR9)
DELETE_IN_PROGRESS PubRouteAssoc (rtbassoc-30ef1056)
DELETE_COMPLETE ComputeSG (sg-781be201)
DELETE_COMPLETE MasterAutoscalingPolicy (fligh-Mast-1ALYURF9O19YC)
DELETE_IN_PROGRESS PrvNetAclRejectInboundVPC (fligh-PrvNe-B8DLEBC9GDDM)
DELETE_IN_PROGRESS ComputeBucketPolicy (fligh-Comp-1EMKZMYMAJQ2I)
DELETE_IN_PROGRESS PubNetAclAllowInboundAny (fligh-PubNe-1189IU4T7PPXI)
DELETE_COMPLETE MasterIAMProfile (flight-cluster-bens-bio-cluster-MasterIAMProfile-1SF0CTP5C66P4)
DELETE_IN_PROGRESS DHCPOptions (dopt-3252ca56)
DELETE_IN_PROGRESS MasterSG (sg-791be200)
DELETE_IN_PROGRESS PrvNetAclAssoc (aclassoc-f2fecc8a)
DELETE_IN_PROGRESS PubNetAclRejectOutboundVPC (fligh-PubNe-1GWWTP2EQ984E)
DELETE_IN_PROGRESS PubNetAclAllowOutboundAny (fligh-PubNe-1CWT0XEVC13FD)
DELETE_IN_PROGRESS ComputeAutoscalingPolicy (fligh-Comp-G5Z4FBLL6FIY)
DELETE_IN_PROGRESS PrvNetAclAllowOutboundPub (fligh-PrvNe-16WZHXH12LERC)
DELETE_COMPLETE ComputeIAMProfile (flight-cluster-bens-bio-cluster-ComputeIAMProfile-G9M7URREEBRE)
DELETE_COMPLETE MasterSG (sg-791be200)
DELETE_COMPLETE ComputeIAMRole (flight-cluster-bens-bio-cluster-ComputeIAMRole-QM5N4C360Q97)
DELETE_COMPLETE ReadyHandle (https://cloudformation-waitcondition-eu-west-1.s3-eu-west-1.amazonaws.com/arn%3Aaws%3Acloudformation%3Aeu-west-1%3A700366075446%3Astack/flight-cluster-bens-bio-cluster/13d9c820-0a5f-11e7-9a41-50a68645b2d2/ReadyHandle?AWSAccessKeyId=AKIAJRBFOG6RPGASDWGA&Expires=1489765327&Signature=ZkRquvdVJaPibbBa0EyIxA7yKhw%3D)
DELETE_COMPLETE GatewayAssoc (fligh-Gatew-1R9BOSANARH2Z)
DELETE_COMPLETE PubRouteAssoc (rtbassoc-30ef1056)
DELETE_COMPLETE PrvNetAclAllowInboundPub (fligh-PrvNe-7EHX7JXH4DB9)
DELETE_COMPLETE PrvRouteAssoc (rtbassoc-17ef1071)
DELETE_COMPLETE PrvNetAclAllowInboundAny (fligh-PrvNe-19DGLWYVEB543)
DELETE_COMPLETE DHCPOptions (dopt-3252ca56)
DELETE_IN_PROGRESS PubNetAcl (acl-66d20201)
DELETE_IN_PROGRESS PrvNetAcl (acl-64d20203)
DELETE_COMPLETE PubNetAcl (acl-66d20201)
DELETE_COMPLETE PubSubnet (subnet-a1461ef9)
DELETE_IN_PROGRESS FlightVPC (vpc-baddc9de)
DELETE_COMPLETE flight-cluster-bens-bio-cluster (arn:aws:cloudformation:eu-west-1:700366075446:stack/flight-cluster-bens-bio-cluster/13d9c820-0a5f-11e7-9a41-50a68645b2d2)
