<%#
  Copyright (C) 2018 Stephen F. Norledge and Alces Software Ltd.

  This file is part of Alces Launch.

  All rights reserved, see LICENSE.txt.
%>

<p>
Your Alces Flight account has insufficient compute credits remaining to
continue running all of your current clusters.
</p>

<p>
To prevent unexpected charges being made to your account, all compute queues
for the clusters below will be terminated shortly.
</p>

<p>
The clusters will continue running for <%= @grace_period %> hours, allowing
you access to save any work.  After <%= @grace_period %> hours, if you have
not added additional compute credits to your account your clusters will be
terminated.
</p>

<p>
The clusters affected are:
</p>

<ul>
<% @cluster_names.each do |cluster_name| %>
    <li><%= cluster_name %></li>
<% end %>
</ul>

<% note do %>
    <p class="notes">
    You are receiving this email because you have started an Alces Flight
    Compute HPC cluster with the Alces Flight Launch service.
    </p>
<% end %>

<%= render 'shared/contact_us' %>

<p>The Alces Flight Crew.</p>
