<%#
  Copyright (C) 2017 Stephen F. Norledge and Alces Software Ltd.

  This file is part of Alces Launch.

  All rights reserved, see LICENSE.txt.
%>

<p>Welcome on board the Alces Flight Launch service.</p>

<p>
Your <%= @cluster_spec_name %> "<%= @cluster_name %>" will begin launching shortly.
<% if @using_token && @runtime_limit %>
    Once you are in flight, the evaluation period for your Alces Flight Compute HPC cluster will be
    <%= @runtime %>.  Please remember to save your work as you go as, once the
    trial completes, the cluster will be shut down automatically.
<% elsif @using_token %>
    You will not be charged for running this cluster, but <em>Alces Flight
        Ltd</em> reserve the right to terminate it without notice.  Please
    remember to save your work as you go.
<% else %>
    Once you are in flight your AWS account will incur charges.  The Alces
    Flight Launch Service is unable to automatically shutdown clusters, so
    please remember to close down your HPC cluster once your work is complete
    to avoid unwanted charges. (Unsure how to close down a cluster?  Click
    here for more details.)
<% end %>
</p>

<% if @using_token %>
    <p>
      You will receive another email shortly letting you know that your Alces
      Flight Compute HPC cluster is available for use.
    </p>
<% else %>
    <p>
      You will receive another email shortly letting you know that your Alces
      Flight Compute HPC cluster is available for use.
    </p>
<% end %>

<% note do %>
    <p class="notes">
    You are receiving this email because you have started an Alces Flight
    Compute HPC cluster with the Alces Flight Launch service.
    </p>
<% end %>

<%= render 'shared/contact_us' %>

<p>See you in the air soon!</p>

<p>The Alces Flight Crew.</p>
