<%#
  Copyright (C) 2017 Stephen F. Norledge and Alces Software Ltd.

  This file is part of Alces Launch.

  All rights reserved, see LICENSE.txt.
%>

<p>Your Alces Flight Launch Service is in Taxi for Take-Off.</p>


<p>
Your <%= @cluster_spec_name %> "<%= @cluster_name %>" is being cleared for
take-off.
<% if @show_cloudformation_link %>
    You can view the progress of your HPC cluster on the <a href="<%=
    @cloudformation_url %>"> AWS CloudFormation console</a>
<% end %>
</p>

<p>
We will send you another email once your HPC cluster is in flight and
available for use.
</p>

<% note do %>
    <p class="notes">
    You're receiving this email because you have started a cluster with the
    Alces Flight Launch Service.
    </p>
<% end %>

<%= render 'shared/contact_us' %>

<p>See you in the air soon.</p>

<p>The Alces Flight Crew</p>
