<%#
  Copyright (C) 2017 Stephen F. Norledge and Alces Software Ltd.

  This file is part of Alces Launch.

  All rights reserved, see LICENSE.txt.
%>

<p>Your Alces Flight Compute HPC cluster is in taxi for take-off.</p>


<p>
Your <%= @cluster_spec_name %> <code><%= @cluster_name %></code> is being
cleared for take-off.
</p>

<p>
We will send you another email once your cluster is in flight and
available for use.
</p>

<% note do %>
    <p class="notes">
    You're receiving this email because you have started an Alces
    Flight Compute HPC cluster with the Alces Flight Launch service.
    </p>
<% end %>

<%= render 'shared/contact_us' %>

<p>See you in the air soon!</p>

<p>The Alces Flight Crew.</p>
