<%#
  Copyright (C) 2018 Stephen F. Norledge and Alces Software Ltd.

  This file is part of Alces Launch.

  All rights reserved, see LICENSE.txt.
%>

<p>Unfortunately, we are not able to launch your <%= @cluster_spec_name %>
"<%= @cluster_name %>".</p>

<p>
<%- if @payment.using_upfront_credits? -%>
  Your account no longer has sufficient compute units to run the cluster for
  the desired duration.  If you add sufficient compute units to your account
  you will then be able to re-launch the cluster.
<%- end -%>
<%- if @payment.using_ongoing_credits? -%>
  Your account no longer has sufficient compute units to run the cluster.  If
  you add sufficient compute units to your account you will then be able to
  re-launch the cluster.
<%- end -%>
</p>

<% note do %>
    <p class="notes">
    You are receiving this email because you attempted to start an Alces
    Flight Compute HPC cluster with the Alces Flight Launch service.
    </p>
<% end %>

<%= render 'shared/contact_us' %>

<p>The Alces Flight Crew.</p>
