<%#
  Copyright (C) 2016 Stephen F. Norledge and Alces Flight Ltd.

  This file is part of Alces Launch.

  All rights reserved, see LICENSE.txt.
%>
<p>
If you have any questions, please visit our <a
    href="http://community.alces-flight.com">Community Support Portal</a>.
</p>
