SECTION {
    margin: 70px 0;
}

BODY.modal-open {
    overflow: visible !important;
    padding-right: 0 !important;
}

.flight-Navbar .showWelcomeButton {
    A {
        height: 50px;
    }
    margin-right: -7px;
    .flight-icon {
        line-height: 50%;
        padding-top: 2px;
        padding-bottom: 2px;
    }
}

.flight-Navbar .navbar-text {
    line-height: 20px;
    font-family: $base-fontFamily;
    color: white;
}

.LeftNav--branding {
    margin-left: 0;
}

.react-cookie-banner {
    z-index: 1030;
}
